<ion-header>
  <ion-toolbar>
    <img src="https://media.glassdoor.com/sql/295837/venturus-centro-de-inova%C3%A7%C3%A3o-tecnol%C3%B3gica-squarelogo-1568727841351.png"/>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="view == 1">
    <ion-card *ngFor="let cat of catImgList" >
      <ion-card-header no-padding padding-left>
        <ion-card-subtitle>
          <h4>{{cat.title}}</h4>
        </ion-card-subtitle>
          
          
        </ion-card-header>
      
        <ion-card-content no-padding>
          <img src="{{cat.link}}" />
        </ion-card-content>
    </ion-card>
    </div>

    <div *ngIf="view == 2">
      <ion-list>
        <ion-item *ngFor="let cat of catImgList">
            <ion-avatar>
              <img src="{{cat.link}}">
            </ion-avatar>
          <ion-label>{{cat.title}}</ion-label>
        </ion-item>
      </ion-list>
    </div>

    <div *ngIf="view == 3">
      <ion-slides pager loop slidesPerView="1.5" spaceBetween="10">
        <ion-slide *ngFor="let cat of catImgList">
          <div >
            <ion-card>
              <ion-card-header>
                <ion-card-title>
                    {{cat.title}}
                </ion-card-title>
                <ion-card-content>
                  <img src="{{cat.link}}">
                </ion-card-content>
              </ion-card-header>
            </ion-card>
          </div>
        </ion-slide>
      </ion-slides>
    </div>
      
</ion-content>
<ion-footer>
    <ion-segment (ionChange)="changeView($event)" color="secondary">
        <ion-segment-button value="1" class="footer-button">
          <ion-icon name="square-outline"></ion-icon>
          <ion-label>Cards</ion-label>
        </ion-segment-button>
        <ion-segment-button value="2" class="footer-button">
            <ion-icon name="list"></ion-icon>
          <ion-label>List</ion-label>
        </ion-segment-button>
        <ion-segment-button value="3" class="footer-button">
          <ion-icon name="albums"></ion-icon>
          <ion-label>Slides</ion-label>
        </ion-segment-button>
      </ion-segment>
</ion-footer>
