ion-header {
    ion-toolbar {
        text-align: center;
        img {
            width: 10%;
        }
    }
    
}

ion-content {
    --background: linear-gradient(90deg, rgba(214,37,109,1) 0%, rgba(76,37,120,1) 100%);

    ion-card {
        background: snow;
        ion-card-subtitle {
            color: rgb(79,38,114);
            padding: 0px 10px;
        }
    }

    ion-list {
        background: transparent;
        margin: 10px;
        ion-item{
            margin-bottom: 5px;
        }
        ion-avatar {
            width: 70px;
            height: 70px;
        }
        
    }
    ion-slides {
        height: 150vw;
        ion-card {
            max-height: 135vw;
            text-align: center;
            img {
                height: auto;
                max-height: 110vw;
            }
        }
    }
   
}
ion-segment {
    height: 50px;
    .footer-button {
        font-size: 10px !important;
    }
}


